@charset "UTF-8";

html,
body,
main,
#app {
    height: 100%;
    width: 100%;
}
body {
	font-size: 18px;
}
@media (max-width: 1440px) {
	body {
		font-size: 14px;
	}
}
p {
	line-height: 1.5;
}
a {
  color:black;
}
a:visited {
	color:black;  
}
h1 {
  font-family: sans-serif;
}


.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
.top-bar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid black;
  gap: 5px;
	flex-wrap: wrap;
	background-color: white;
}
.top-bar div {
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .top-bar .title {
    display: none;
  }
}

button {
  background: var(--color4);
  color: black;
	font-family: sans-serif;
  border: 2px outset var(--color10); 
  padding: 5px 10px;       /* Padding around the text */
  text-align: center;       /* Center the text */
  text-decoration: none;    /* No underline */
  display: inline-block;    /* Allows setting width and height */
  font-size: 0.9rem;          /* Standard text size */
  margin: 4px 2px;          /* Margin for spacing between buttons */
  cursor: pointer;          /* Cursor to pointer to indicate it's clickable */
  border-radius: 5px;       /* Rounded corners */
  transition: background-color 0.1s; /* Smooth transition for hover effect */

}

/* Hover and active states for the button */
button:hover, button:active {
  background-color: var(--color10);; /* Darker shade of blue for hover/active */
}

/***** MODAL DIALOG ****/

#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	opacity: 0.6;
  background:
    radial-gradient(ellipse at center,
      var(--color3) 30%,
      var(--color6) 60%,
      var(--color10) 100%
    )
  ;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin:10vh 0;

	/* Sizing for visible dialog */
	width:calc(100% - 1rem);
	max-width:800px;

	/* Display properties for visible dialog*/
	border:solid 1px #444;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:#fff;
	padding:1rem;
	overflow: auto;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;

	/* Hide after animation */
	opacity:0;
}

#modal.closing > .modal-content {
	/* Aniate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

/** ANIMATIONS ***********/
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

.art-title {
	font-family: sans-serif;
}
.art-title, .artist-name, .descriptions {
  margin-bottom: 10px;
}

.descriptions {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(256px,1fr));
  gap: 20px;
}

.description-finnish, .description-english {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}