:root {
  --color1: lch(0 0 0);
  --color2: lch(20 70 306 / 50%);
  --color3: lch(65 40 309);
  --color4: lch(95 44 114);
  --color5: lch(47 24 156);
  --color6: lch(75 32 9);
  --color7: lch(92 57 138);
  --color8: lch(62 4 243);
  --color9: lch(70 4 146);
  --color10: lch(76 63 84);
  --color11: lch(62 26 149);
  --color12: lch(26 12 141);
}

.grid-container {
  width: 100%;
  display: grid;
  position: relative;
}
.grid-container > a {
  height:100%;
  width:100%;
  margin:0;
  display: contents;
}

.shapeContainer {
  position: relative;
}

.shape {
  position: absolute;
  width: 100%;
  height: 100%;
}

.checkerboard-small { clip-path: polygon(0% 0%, 10% 0%, 10% 100%, 20% 100%, 20% 0%, 30% 0%, 30% 100%, 40% 100%, 40% 0%, 50% 0%, 50% 100%, 60% 100%, 60% 0%, 70% 0%, 70% 100%, 80% 100%, 80% 0%, 90% 0%, 90% 100%, 100% 100%, 100% 0%, 100% 10%, 0% 10%, 0% 20%, 100% 20%, 100% 30%, 0% 30%, 0% 40%, 100% 40%, 100% 50%, 0% 50%, 0% 60%, 100% 60%, 100% 70%, 0% 70%, 0% 80%, 100% 80%, 100% 90%, 0% 90%, 0% 100%);}
.checkerboard-big { clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%, 0% 50%, 100% 50%, 100% 75%, 0% 75%, 0% 100%, 100% 100%, 100% 0%, 75% 0%, 75% 100%, 50% 100%, 50% 0%, 25% 0%, 25% 100%, 0% 100%);}
.eye-right { border-radius: 100% 0 100% 0;}
.eye-left { border-radius: 0 100% 0 100%;}
.ellipse { clip-path: ellipse(closest-side farthest-side);}
.ellipse-arch-up { clip-path: ellipse(closest-side farthest-side at bottom center);}
.ellipse-arch-down { clip-path: ellipse(closest-side farthest-side at top center);}
.ellipse-arch-right { clip-path: ellipse(farthest-side closest-side at center left);}
.ellipse-arch-left { clip-path: ellipse(farthest-side closest-side at center right);}
.ellipse-ramp-bottom-right { clip-path: ellipse(farthest-side farthest-side at bottom right);}
.frame-small {clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%);}
.left-chevron { clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 20% 100%, 0% 50%, 20% 0%);}
.negative-circle {clip-path: polygon(0 0, 0% 50%, 0.5% 45%, 1.25% 40%, 2.5% 35%, 4.5% 30%, 7% 25%, 10% 20%, 14.5% 14.5%, 20% 10%, 25% 7%, 30% 4.5%, 35% 2.5%, 40% 1.25%, 45% 0.5%, 50% 0%, 55% 0.5%, 60% 1.25%, 65% 2.5%, 70% 4.5%, 75% 7%, 80% 10%, 85.5% 14.5%, 90% 20%, 93% 25%, 95.5% 30%, 97.5% 35%, 98.75% 40%, 99.5% 45%, 100% 50%, 99.5% 55%, 98.75% 60%, 97.5% 65%, 95.5% 70%, 93% 75%, 90% 80%, 85.5% 85.5%, 80% 90%, 75% 93%, 70% 95.5%, 65% 97.5%, 60% 98.75%, 55% 99.5%, 50% 100%, 45% 99.5%, 40% 98.75%, 35% 97.5%, 30% 95.5%, 25% 93%, 20% 90%, 14.5% 85.5%, 10% 80%, 7% 75%, 4.5% 70%, 2.5% 65%, 1.25% 60%, 0.5% 55%, 0 50%, 0 100%, 100% 100%, 100% 0);}
.negative-arch-top { clip-path: polygon( 0 0, 0% 50%, 0.5% 45%, 1.25% 40%, 2.5% 35%, 4.5% 30%, 7% 25%, 10% 20%, 14.5% 14.5%, 20% 10%, 25% 7%, 30% 4.5%, 35% 2.5%, 40% 1.25%, 45% 0.5%, 50% 0%, 55% 0.5%, 60% 1.25%, 65% 2.5%, 70% 4.5%, 75% 7%, 80% 10%, 85.5% 14.5%, 90% 20%, 93% 25%, 95.5% 30%, 97.5% 35%, 98.75% 40%, 99.5% 45%, 100% 50%, 100% 0%); }
.negative-arch-bottom {clip-path: polygon(100% 50%, 99.5% 55%, 98.75% 60%, 97.5% 65%, 95.5% 70%, 93% 75%, 90% 80%, 85.5% 85.5%, 80% 90%, 75% 93%, 70% 95.5%, 65% 97.5%, 60% 98.75%, 55% 99.5%, 50% 100%, 45% 99.5%, 40% 98.75%, 35% 97.5%, 30% 95.5%, 25% 93%, 20% 90%, 14.5% 85.5%, 10% 80%, 7% 75%, 4.5% 70%, 2.5% 65%, 1.25% 60%, 0.5% 55%, 0 50%, 0 100%, 100% 100%);}
.negative-arch-topright {clip-path: polygon(0 0, 100% 0, 100% 100%, 99% 90%, 97.5% 80%, 95% 70%, 91% 60%, 86% 50%, 80% 40%, 71% 29%, 60% 20%, 50% 14%, 40% 9%, 30% 5%, 20% 2.5%, 10% 1%);}
.negative-arch-topleft { clip-path: polygon(0 0,0% 100%,1% 90%,2.5% 80%,5% 70%,9% 60%,14% 50%,20% 40%,29% 29%,40% 20%,50% 14%,60% 9%,70% 5%,80% 2.5%,90% 1%,100% 0%);}
.negative-arch-bottomright { clip-path: polygon(0 100%,100% 100%,100% 0,99% 10%,97.5% 20%,95% 30%,91% 40%,86% 50%,80% 60%,71% 71%,60% 80%,50% 86%,40% 91%,30% 95%,20% 97.5%,10% 99%);}
.negative-arch-bottomleft {clip-path: polygon(100% 100%, 0 100%, 0 0, 1% 10%, 2.5% 20%, 5% 30%, 9% 40%, 14% 50%, 20% 60%, 29% 71%, 40% 80%, 50% 86%, 60% 91%, 70% 95%, 80% 97.5%, 90% 99%);}
.rounded {border-radius: 20%;}
.triangle-up { clip-path: polygon(50% 0%, 0% 100%, 100% 100%);}
.triangle-down { clip-path: polygon(100% 0, 0 0, 50% 100%);}
.triangle-right { clip-path: polygon(100% 50%, 0 0, 0 100%);}
.truchetTile-bottom-right { clip-path: polygon(0 100%, 100% 100%, 100% 0);}
.truchetTile-bottom-left { clip-path: polygon(0 0, 0 100%, 100% 100%);}
.truchetTile-top-left { clip-path: polygon(0 100%, 0 0, 100% 0);}
.truchetTile-top-right { clip-path: polygon(0 0, 100% 0, 100% 100%);}

.pattern-FBUmm {
  background: var(--color1);
}

.pattern-AzoiE {
  background:
    linear-gradient(var(--color1) 0%,
      var(--color3) 100%);
}

.pattern-4h3al {
  background:
    linear-gradient(transparent 0%,
      var(--color4) 25%,
      var(--color3) 75%,
      transparent 100%),
    linear-gradient(90deg,
      var(--color6) 0%,
      var(--color5) 50%,
      var(--color6) 100%);
}

.pattern-DGzqM {
  background:
    repeating-linear-gradient(transparent 0% 10%,
      var(--color2) 10% 20%),
    repeating-linear-gradient(90deg,
      transparent 0% 10%,
      var(--color2) 10% 20%),
    radial-gradient(ellipse at center,
      var(--color9) 0%,
      var(--color7) 100%);
}

.pattern-iW3jq {
  background:
    radial-gradient(100% 100% at 50% 0%,
      var(--color12) 50%,
      var(--color1) 50%,
      var(--color12) 100%);
  background-size:
    25% 100%,
    25% 22px;
  background-position:
    100% 100%,
    100% 100%;
}

.pattern-by99r {
  background:
    linear-gradient(var(--color3),
      var(--color1));
}

.pattern-cOzeB {
  background:
    radial-gradient(var(--color4),
      var(--color3));
}

.pattern-rrzV6 {
  background:
    linear-gradient(180deg,
      var(--color11),
      var(--color12));
}

.pattern-WSWBk {
  background:
    repeating-linear-gradient(var(--color9),
      var(--color4)30%,
      var(--color10)50%);
}

.pattern-JkZ-B {
  background:
    radial-gradient(ellipse at center,
      var(--color3) 30%,
      var(--color6) 60%,
      var(--color10) 100%);
}

.pattern-rH6qZ {
  background:
    repeating-conic-gradient(var(--color3),
      var(--color5),
      var(--color7));
}

.pattern-S0WDw {
  background:
    radial-gradient(var(--color9),
      var(--color4)30%,
      var(--color10)50%);
}

.pattern-XcM6j {
  background:
    linear-gradient(var(--color3) 30%,
      var(--color6) 60%,
      var(--color10) 100%);
}

.pattern-xPV3X {
  background:#e5e5e5;
  border-radius:10px;
  border:1px solid var(--color2);
  outline:5px solid #e5e5e5;
}
.pattern-kw7AV {
  border-bottom:1px solid var(--color2);
  border-top:1px solid var(--color2);
}